<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2874420508-rele5fs7ovp0tqkk8d9njbs3jh57ff00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2874420508-rele5fs7ovp0tqkk8d9njbs3jh57ff00</string>
	<key>API_KEY</key>
	<string>AIzaSyDwTo4CaFmQTo0tJEKLWbmj9aTr8O4etQI</string>
	<key>GCM_SENDER_ID</key>
	<string>2874420508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.classcar200.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-2ce4e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-2ce4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2874420508:ios:1190391e0710ba71015ed9</string>
</dict>
</plist>